# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Data files
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeepS

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db